{{!-- <form class="container" action="/" method="POST">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="card" style="width: 18rem;">
      <h2 class="text-center col-12" style="color:burlywood;">URL shortener</h2>
      <img src="https://m.yh31.com/tp/zjbq/201910211557050990.gif" class="card-img-top" alt="...">
      <div class="card-body row">
        <input type="text" class="col-12 mb-3" name="userURL" placeholder="Input URL here..." required>
        <button type="submit" class="btn btn-primary offset-2 col-8">shorten</a>
      </div>
    </div>
  </div>
</form> --}}


<form class="container h-100 justify-content-center align-items-center" action="/" method="POST">
  <div class="h-100 row justify-content-center align-items-center">
    <div class="card justify-content-center align-items-center" style="width: 18rem;">
      <h2 class="text-center col-12" style="color:burlywood;">URL shortener</h2>
      <img src="https://m.yh31.com/tp/zjbq/201910211557050990.gif" class="card-img-top" alt="...">
      <div class="card-body row">
        <input type="text" class="col-12 mb-3" name="userURL" placeholder="Input URL here..." required>
        <button type="submit" class="btn btn-primary offset-2 col-8">shorten</a>
      </div>
    </div>
  </div>
</form>
